body {

}
img {
    border-radius: 50%;
}

h1, h2, h3 {
    font-family: 'IM Fell Great Primer SC', serif;
}

.container {
    justify-content: center;
    width: 80%;
    margin: 1rem;
    border-radius: 10px;
    border: 1px solid black;
    padding: 4%;
}

.long-but {
    background-color: #f5e2e4;
    border: none;
    padding: 6px 60px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
}
/* header styles */
.color-nav {
    background-color: #F5F3E7;
}
.logo {
    height: 7vh;
    margin-left: 1em;
    margin-right: 0.5em;
}
.signin-margin {
    margin-right: 1em;
    white-space: nowrap;
}
.nav-link {
    text-align: center;
}
nav span {
    font-family: 'IM Fell Great Primer SC', serif;
}

.signout-margin {
    margin-right: 1em;
    white-space: nowrap;
    padding: 8px;
}

/* home */
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    margin-top: 120px;
}

#home > h1 {
    font-size: 350%;
    font-family: 'IM Fell Great Primer SC', serif;
}


#home > h2 {
    font-family: 'Inter', sans-serif;
}

#home > img {
    height: 17rem;
}

#rabbit-row {
    display: flex;
    background-repeat: repeat-y;
}

#rabbit-row > img {
    width: 6.5%;
    margin: 0.55%;
}

/*To-do view*/
#to-do-view> .container {
    align-items: center;
    display: flex;
    justify-content: center;
}

#to-do-view {
    margin-top: 100px;
}

.dateDisplayText {
    padding-left: 4%;
}

.dateDisplay {
    background-color: #ccd4bf;
}

.flex-to-do {
    align-items:center;
    display: flex;
    justify-content: space-between;
}

.complete-remove-but {
    border-radius: 10px;
    border: 1px solid black;
}

.padding-top-bottom {
    padding-top: 2em;
    padding-bottom: 2em;
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

#to-do-view .long-but {
    background-color: #ccd4bf;
    border-color: #ccd4bf;
    color: black;
}

#to-do-view input {
    padding: 6px 20%;
    margin-bottom: 10px;
    margin-right: 10px;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Curr-task Page */
#curr-task-view{
    font-family: 'Inter', sans-serif;
}

#curr-task-view label{
text-align: end;
padding-right: 2%;
}

#curr-task-view .input {
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 7%;
}

#curr-task-view form > div {
    margin: 3%;
}

.search-bar-dropdown {
    width: 30em;
}

.suggestions-style .list-group-item:hover {
    background-color: #f5e2e4;
}

/* Quote view */
#quote-view {
    margin-top: 120px;
}

#quote-view input {
padding: 6px 20%;
margin-bottom: 10px;
margin-right: 10px;
}

#quote-view .long-but {
    background-color: #eebab2;
    border-color: #eebab2;
    color: black;
}
.success-message {
    color: #4F8A10;
}

.error-message {
    color: red;
}

/*Curr-Task and Quote*/
#curr-task-view {
    margin-top: 120px;
}

.heading-container {
    display: flex;
    align-items: center;
}

.heading-container img{
    height: 70%;
}

h3 {
    font-size: 200%;
    margin: 30px;
}

/* Motivation page */
.quotedisplay {
    margin-top: 1.5em;
}

/*Quote-manage-view*/
#quote-manage-view {
    margin-top: 120px;
}

table {
    padding: 3em;
    margin-top: 2em;
}


/*Sign in page*/
.signin-view {
    margin-top: 120px;
}
.welcome-signin {
    text-align: center;
    padding-bottom: 2em;
}